@use '@/styles/mixins' as *;

.hotel-section {
  position: relative;
  background-color: var(--color-beige);

  &__pattern-bg {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    pointer-events: none;



    img {
      margin-right: 1rem;
      object-fit: contain;
      max-height: 100%;
      user-select: none;
    }
  } // під контентом абсолют відносно section

  &__content {
    position: relative;
    z-index: 1;
    .highlight { font-style: italic; } //util class
  } // все шо під цим контейнером (костиль до моно і централь!!!)

  &__block--head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-between-blocks) 0;
    @include respond(md) {
      flex-direction: column;
      align-items: flex-start;
      gap: var(--spacing-lg);
    }
  } //1

  &__block--paragraph {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-xxl);
    font-size: clamp(1rem, 2vw, 1.25rem);
    line-height: 2.05;
    max-width: 40%;
    font-family: var(--font-primary) , sans-serif;
    font-weight: var(--font-weight-medium);

    img{
      width: 2rem;
      height: 2rem;

      @include respond(md) {
        width: 1.3em;
        height: 1.3em;
      }
    } //99

    @include respond(md) {
      max-width: 100%;
      gap: var(--spacing-lg);
    }
  } //1

  &__block--headline {
    text-align: right;
    font-family: var(--font-primary), sans-serif;

    h1 {
      font-weight: var(--font-weight-medium);
      font-size: clamp(2rem, 5vw, 3.75rem);
      line-height: 1.3;
      letter-spacing: 0.03rem;
      color: var(--color-olivia);
    }
  } //1

  &__block--icons {
    display: flex;
    justify-content: space-between;
    padding-top: var(--spacing-lg);

    img {
      @include respond(md) {
        max-height: 5rem;
      }
    }
  } //1

  &__title{
    padding: var(--spacing-between-blocks) 0;
  } //2

  &__mono {
    display: flex;
    align-items: stretch;
    width: 100%;
    padding: var(--spacing-between-blocks) 0;

    .hotel-section__content {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    } // утилітарний для central, перевизначається від чого не ламається absolute. (около-костиль)
  } //3 секція моно + +-костиль

  &__mono--image {
    position: absolute;
    left: 0;
    width: 55%;
    flex-shrink: 0;
    z-index: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover; // щоб не спотворювало пропорції
      display: block; // прибирає "inline-gap"
    }

    @include respond(sm) {
      display: none;
    }
  } //3 абсолют прибитий до лівого краю

  &__central{
    display: flex;
    align-items: stretch;
    width: 100%;
    padding: var(--spacing-between-blocks) 0;
  } //4 секція сентраль

  &__central--image {
    position: absolute;
    right: 0;
    width: 55%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include respond(sm) {
      display: none;
    }
  } //4 абсолют прибитий до правого краю

  &__hotels-wrapper{
    padding-bottom: var(--spacing-xxl);
  } //4 падінг знизу, через погано вложеність

  &__restaurant--wrapper {
    position: relative;
    background: var(--color-olivia) url("@/assets/images/pattern-restaurant-section.svg") no-repeat fixed;
    background-size: auto;
    background-position: center top; // центрує по горизонталі

    .section-header {
      display: flex;
      align-items: baseline; // вирівнює текст по одній лінії
      gap: 0.5rem;
      color: var(--color-olivia);
      @include respond(sm) {
        align-items: center;
      }
    }
    .section-header__title,
    .section-header__subtitle {
      color: var(--color-beige);
    }

    .section-header__dots {
      filter: brightness(0) invert(1);
    }
  } // 5 колір фону + перевизначення класів компонента, задання паралакс патерну

  &__restaurant--title{
    padding: var(--spacing-xxxl) var(--spacing-md);
    @include respond(sm) {
      padding: var(--spacing-xxl) var(--spacing-md);
    }
  } // 5 заголовок і його врапер вище

  &__complex {
    &--wrapper {
      position: relative;
      width: 100%;
    }

    &--images {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      z-index: 0;

      img {
        width: 50%;
        height: 100%;
        object-fit: cover;
        display: block;
        @include respond(sm) {
          width: 100%;
        }
      }

      @include respond(sm) {
        flex-direction: column;
      }
    }

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }

    &--content{
      display: flex;
      position: relative;
      padding: 0 var(--spacing-md);
      @include respond(sm) {
        flex-direction: column;
        gap: 12rem;
      }
    }

  } // 6 fortissimo + mono content

  &__header-stop{
    position: relative;
    width: 100%;
    background: transparent;
    height: var(--height-for-stop-header);
    @include respond(sm) {
      display: none;
    } // display:none, хедер став статичним
  } // 7 прозорий блок для позиціонування зупинки скрола хедера

  &__footer{
    padding-top: var(--spacing-xxl);
    @include respond(sm) {
      padding-top: 0;
    } //щоб не ламало адаптив
  } // 8 футер позиціонування
}
