.button {
  position: relative;
  padding: 1.5rem 3rem;
  border: 1px solid var(--btn-border-color);
  border-radius: var(--border-radius);
  background: transparent;
  cursor: pointer;
  overflow: hidden;
  transition: var(--transition-button-animate);

  &__text {
    position: relative;
    z-index: 2;
    font-family: var(--font-primary), sans-serif;
    font-weight: var(--font-weight-medium);
    color: var(--btn-text-color);
    white-space: nowrap;
    font-size: var(--font-md);
    transition: color 0.3s ease;
  }

  &__border {
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    border: 1px solid var(--btn-border-color);
    border-radius: 12px;
    transition: var(--transition-button-animate);
    z-index: 1;
    pointer-events: none;

    background: var(--btn-bg-color); // ← фон всередині
  }

  &:hover {
    border-color: var(--btn-hover-border-color);
  }

  &:hover .button__text {
    color: var(--btn-hover-text-color);
  }

  &:hover .button__border {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--border-radius);

    background: transparent; // ← при наведенні внутрішній фон стає прозорим
  }
}
