@use '@/styles/mixins' as *;

.mono-hotel-section {
  position: relative;
  background-color: #776A5E;

  &__pattern-bg {
    @include pattern-bg();
  }

  &__content {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
  }

  &__roomcard{
    padding-bottom: 6rem;
  }

  &__header-stop {
    position: relative;
    width: 100%;
    background: transparent;
    height: var(--height-for-stop-header);
    @include respond(sm){
      height: var(--height-for-stop-header--mobile);
    }
  }

}
