/* ========================
   Нормализация блочной модели
   ======================== */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* ========================
   Списки
   ======================== */
:where(ul, ol):where([class]) {
	padding-left: 0;
	list-style: none;
}

/* ========================
   Параграфы
   ======================== */
p {
	--paragraphMarginBottom: 24px;
	margin-block: 0;
}

p:where(:not([class]):not(:last-child)) {
	margin-bottom: var(--paragraphMarginBottom);
}

/* ========================
   Заголовки и другие элементы текста
   ======================== */
:where(h1, h2, h3, h4, h5, h6, ul, ol, dl):where([class]) {
	margin-block: 0;
}

:where(dd[class]) {
	margin-left: 0;
}

:where(address[class]) {
	font-style: normal;
}

/* ========================
   Контент (картинки, видео)
   ======================== */
img,
video {
	display: block;
	max-width: 100%;
	height: auto;
}

/* ========================
   Форма
   ======================== */
input,
textarea,
select,
button {
	font: inherit;
	cursor: pointer;
}

/* ========================
   Ссылки
   ======================== */
a:where([class]) {
	display: inline-flex;
}

/* ========================
   SVG
   ======================== */
:where([fill]:not([fill='none'], [fill^='url'])) {
	fill: currentColor;
}

:where([stroke]:not([stroke='none'], [stroke^='url'])) {
	stroke: currentColor;
}

svg * {
	transition-property: fill, stroke;
}

/* ========================
   Таблицы
   ======================== */
:where(table) {
	border-collapse: collapse;
	border-color: currentColor;
}

/* ========================
   Глобальные стили страницы
   ======================== */
//html, body {
//	overflow-x: hidden; /* горизонтальний скрол прибираємо */
//	overflow-y: auto;   /* вертикальний скрол з’являється при необхідності */
//}

/* кастомний скролбар для Chrome/Safari */
body::-webkit-scrollbar {
	width: 8px;
}

body::-webkit-scrollbar-track {
	background: transparent;
}

body::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,0.4);
	border-radius: 4px;
	border: none;
}

body::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0,0,0,0.6);
}

/* Firefox */
body {
	scrollbar-width: thin;
	scrollbar-color: rgba(0,0,0,0.4) transparent;
}
