	:root {
		--color-olivia: rgba(52, 49, 32, 1);
		--color-darkbeige: rgba(229, 217, 193, 1);
		--color-beige: rgba(245, 239, 227, 1);
		--color-white: #fff;
		--color-black: #000;
		--color-black-custom: rgba(61, 61, 61, 1);
		--color-half-opacity: rgba(0, 0, 0, 0.05);

		/* Рідко використовувані кольори */
		--color-button--hoover: rgba(81, 77, 51, 1); // кнопка HeroSection

		/* Гарнітури */
		--font-primary: 'Montserrat';
		--font-secondary: 'ABCGintoNord';

		/* Вага шрифтів */
		--font-weight-thin: 100;
		--font-weight-normal: 400;
		--font-weight-medium: 500;
		--font-weight-semibold: 600;
		--font-weight-bold: 700;

		/* Відстань */
		--spacing-xs: 0.25rem; /* 4px */
		--spacing-xs-sm: 0.5rem; /* 8px */
		--spacing-sm: 0.75rem; /* 12px */
		--spacing-sm-md: 0.875rem; /* 14px */
		--spacing-md: 1rem; /* 16px */
		--spacing-lg: 1.25rem; /* 20px */
		--spacing-lg-xl: 1.75rem;  /* 28px */
		--spacing-xl: 2rem; /* 32px */
		--spacing-xxl: 4rem; /* 64px */
		--spacing-xxxl: 7.5rem; //hotelSection restaurant

		--spacing-between-blocks: var(--spacing-xxl) var(--spacing-md);

		/* Шрифти */
		--font-xs: 0.75rem; /* 12px */
		--font-sm: 0.875rem; /* 14px */
		--font-md: 1rem; /* 16px */
		--font-lg: 1.25rem; /* 20px */
		--font-xl: 1.5rem; /* 24px */
		--font-xxl: 2rem; /* 32px */

		/* Параметри бордерів */
		--border-radius: 20px;
		--border-layout: 1px solid rgba(197, 191, 174, 0.5);

		/* Анімації */
		--transition-default: all 0.4s ease; // базова анімація
		--transition-button-animate: all 0.4s ease-out; //кнопка анімація
		--transition-hero-section: 1.3s ease-out 0.2s forwards; // для HeroSection

		/*Зручні винесені стиллі*/
		--height-for-stop-header: calc(var(--header-height) + var(--spacing-xxl)); //хедер приліпає до низу блоку header-stop(id) , для розташування
																																								// по центру формула це відстань зверху, паднг на футері відстань знизу
	}

