:root {
	--color-primary: ;
	--color-secondary: ;
	--color-white: #fff;
	--color-black: #000;

	--font-primary: ;
	--font-weight-normal: 400;
	--font-weight-bold: 700;

	--spacing-xs: 0.25rem;    /* 4px */
	--spacing-xs-sm: 0.5rem;  /* 8px */
	--spacing-sm: 0.75rem;   	/* 12px */
	--spacing-sm-md: 0.875rem;/* 14px */
	--spacing-md: 1rem;      	/* 16px */
	--spacing-lg: 1.25rem;  	/* 20px */
	--spacing-xl: 2rem;       /* 32px */


	--font-xs: 0.75rem;   /* 12px */
	--font-sm: 0.875rem;  /* 14px */
	--font-md: 1rem;      /* 16px */
	--font-lg: 1.25rem;   /* 20px */
	--font-xl: 1.5rem;    /* 24px */
	--font-xxl: 2rem;     /* 32px */

	--border-radius: ;
	--border-layout: ;
}
