@use '@/styles/mixins' as *;

.hotel-info {
  width: 35%;
  color: var(--color-black-custom);

  @include respond(sm) {
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  } //адаптив повний

  &.reverse {
    .hotel-info__content {
      text-align: start;
      @include respond(sm) {
        text-align: center;
      }
    }

    button {
      align-self: flex-start;
      @include respond(sm) {
        align-self: center;
      }
    }

    .hotel-info__subtitle-wrap {
      justify-content: flex-start;
    }

    .hotel-info__small-image {
      align-self: flex-start;
      @include respond(sm) {
        align-self: center;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  } // перевиклик , щоб не писати під кожен блок додатково, мінімальні зміни на flex-start

  &__content {
    display: flex;
    flex-direction: column;
    text-align: end;
    gap: var(--spacing-lg);
    font-family: var(--font-primary), sans-serif;

    button {
      width: auto;
      align-self: flex-end;

      @include respond(sm) {
        align-self: center;
      }
    } // для позиціонування

    @include respond(sm) {
      align-items: center;
      text-align: center;
    }
  }

  &__title {
    font-size: clamp(3rem, 5vw, 6rem);
  }

  &__subtitle-wrap {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;

    img {
      width: 14px;
      height: 14px;
      align-self: center;
    }

    p {
      font-style: italic;
    }
  }

  &__small-image {
    align-self: flex-end;

    @include respond(sm) {
      align-self: center;
      img {
        width: 100%;
        height: auto;
      }
    }
  }

  &__description {
    font-size: clamp(0.875rem, 2vw, 1rem);
    line-height: 1.6;
    @include respond(sm) {
      width: 80%;
    }
  }
}
