@use '@/styles/mixins' as *;

.hotel-info {
  display: flex;
  align-items: stretch;
  width: 100%;
  color: var(--color-black-custom);

  &.reverse {
    flex-direction: row-reverse;

    .hotel-info__main-image {
      width: calc(var(--vw-nosb) * 0.52);
      margin-right: calc(50% - (var(--vw-nosb) / 2));

      @include respond(sm) {
        display: none;
      }
    }

    .hotel-info__content-wrap {
      align-items: flex-start;
      text-align: left;
      justify-content: center;

      @include respond(sm) {
        align-items: center;
        text-align: center;
        width: 100%;
      }
    }

    .hotel-info__content {
      align-items: flex-start;

      @include respond(sm) {
        align-items: center;
        max-width: 100%;
      }
    }

    .hotel-info__subtitle-wrap {
      justify-content: flex-start;
    }

    .hotel-info__small-image {
      align-self: flex-start;

      @include respond(sm) {
        align-self: center;
        display: flex;
        justify-content: center;

        img {
          display: block;
          margin: 0 auto;
        }
      }
    }

    .hotel-info__description {
      max-width: 55%;

      @include respond(lg) {
        max-width: 100%;
      }

      @include respond(sm) {
        max-width: 90%;
      }
    }
  }

  &__main-image {
    width: 52vw;
    margin-left: calc(50% - 50vw);
    display: flex;

    img {
      width: 100%;
      display: block;

      @include respond(lg) {
        object-fit: cover;
      }
    }


    @include respond(sm) {
      display: none;
    }
  }

  &__content-wrap {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;

    @include respond(sm) {
      align-items: center;
      text-align: center;
      width: 100%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 80%;

    @include respond(sm) {
      align-items: center;
      max-width: 100%;
    }
  }

  &__title {
    font-size: clamp(2.5rem, 5vw, 6rem);

  }

  &__subtitle-wrap {
    display: flex;
    align-items: center;
    gap: var(--spacing-xs-sm);
    font-size: clamp(0.9rem, 2vw, 1rem);
    padding-top: var(--spacing-xs);

    img {
      width: 14px;
      height: 12px;
    }

    p {
      font-style: italic;
    }
  }

  &__small-image {
    align-self: flex-end;
    padding-top: var(--spacing-lg-xl);

    @include respond(sm) {
      align-self: center;
      display: flex;
      justify-content: center;

      img {
        display: block;
        margin: 0 auto;
      }
    }
  }

  &__description {
    font-size: clamp(0.9rem, 2vw, 1rem);
    line-height: 1.75;
    max-width: 90%;
    padding: var(--spacing-lg-xl) 0;

    @include respond(sm) {
      max-width: 90%;
    }
  }
}
